.header{
    position: fixed;
    display: flex;
    width: 100vw;
    background-color:#2e2014;
    box-shadow: 0 0 30px ;
    z-index: 2;

    .navbar-container{
        display: grid;
        align-items: center;
        grid-template-columns: 3fr 1fr;
        width: 100%;
        height: 90px;
        

        .search-bar{ 
           display: grid;
            
            align-items: center;

            .search-input{
                width: 80%;
                margin: auto;
                height: 2rem;
                border: none;
                border-radius: 10px;
                
            }
    }



    .modale-groupe{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        height: 2.1rem;
        
        button{
            position: relative;
            font-family: 'Radio Canada', sans-serif;
            border: solid 2px #121212;
            transition: color 800ms;
            margin-right: 1rem;
            font-size: 0.7rem;
            max-height: 3rem;
            background-color: white;
            color: black;
        
        }
        button:is(:hover,:focus){
            color: white;
            background-color: #121212;
        }

        
        
    }



    }

    
}


@media screen and (max-width: 655px) {

   
    button{
        font-size: 0.5rem;
    }
    
 }


.MuiFormControl-root{   
    width: 100%;

} 

.dropdown {
    position: relative;
    margin-right: 100px;
}

/* Hide the dropdown's content by default */
.dropdown__content {
    display: none;

    /* Position it right below the trigger element */
    left: 0;
    padding-top: 4px;
    position: absolute;
    

    /* It should be on the top of other elements */
    background-color: #fff;
    z-index: 9999;

    /* Size */
    height: 200px;
    width: 200px;
}

/* Show the content when hover on the container */
.dropdown:hover .dropdown__content {
    display: block;
}